.showJobs{
    width: 100%;
    position: relative;
}
.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto 100px auto;
    gap: 30px;
    width: 90%;
    max-width: 1100px;
}
@media screen and (max-width:820px) {
    .job{
        gap: 45px;
    }
}
@media screen and (max-width:420px) {
    .job{
        gap: 35px;
    }
}